@using BlazorApp.Components.Layout
@using BlazorApp.Components.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-warning">
                                    <p>شما به این صفحه دسترسی ندارید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>صفحه ای با مشخصات وارد شده یافت نشد</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
